* {
    margin: 0;
    padding: 0;
}







body{
    width: 80%;
    margin: 0 auto;
    background-color: cadetblue;
    padding: 20px;
    font-family: "Tapestry", serif;
}
table{
    background-color: darkslategray;
    color: #dda0dd;
    padding: 10px;
}
.main-content{
    width: 70%;
    float: left;
    padding: 10px;
}
.text{
    font-size: 20px;
    font-weight: 700;
    color: darkcyan;
}
h1{
    text-align: left;
}
h2{
    text-align: left;
}
#maliclal{
    background-color: darkslategray;
}
.links {
    border: 1px solid #dda0dd; /* For debuggihng */
    display: flex;
    justify-content: flex-end;
}
.login {
    margin-bottom: 20px;
}
.menu {
    display: flex;
}